# Configuraciones de IntelliJ IDEA
.idea/
*.iml
*.iws

# Java / Spring Boot (Archivos compilados)
target/
*.class
*.jar
*.war

# Python (Servicio de reportes)
__pycache__/
venv/
env/
*.pyc

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# gRPC / protobuf generated (Python)
**/*_pb2.py
**/*_pb2_grpc.py

/docker/.env