POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=tap2eat_db

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/tap2eat_db
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

JWT_EXPIRATION=120000
JWT_REFRESH_EXPIRATION=604800000

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

NEO4J_USER=
NEO4J_PASSWORD=